
* { padding: 0; margin: 0; }
body { background: #191919 url(images/body.gif); margin: 20px 0; }

#main { 
	width: 600px; 
	height: 660px; 
	position: relative;
	background: url(images/bg.jpg) no-repeat;  
	margin: 0 auto; 
}

#fill_in { 
	font-size: 14px; 
	font-weight: bold;
	color: #ccc;  
	position: absolute; 
	top: 108px; 
	left: 136px; 
}
#fill_in input { 
	background: none; 
	border: 0; 
	top: 2px; 
	height: 18px;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center; 
	font-weight: bold; 
	font-size: 14px; 
	line-height: 18px; 
	color: #666;  	
}
#fill_in span { 
	float: left; 
	padding-top: 4px; 
	text-align:center; 
}
#fill_in .year { width: 80px;  }
#fill_in .monthday { width: 50px; }
#fill_in .title { width: 60px; }
#fill_in .spaceyear { width: 36px; }
#fill_in .spacemonth { width: 28px; }
#fill_in .spaceday { padding-left: 8px; }

.go { 
	width: 150px; 
	height: 150px;
	position: absolute; 
	top: 155px; 
	left: 237px; 
}
.go:hover { background: url(images/btn_hover.jpg) no-repeat; }
.active {
	width: 150px; 
	height: 150px;
	position: absolute;
	top: 155px; 
	left: 237px;  
	background: url(images/btn_hover.jpg) no-repeat; 
	filter:alpha(opacity:0); 
	opacity:0;
}

#target { 
	width: 100%; 
	position: absolute;
	left: 0; 
	top: 336px;	
	font-family: arial; 
	font-weight: bold; 
	color: #ccc;
	text-align:	center;
}
#target strong { color: #fef58c; }

#date { 
	position: absolute; 
	top: 392px; 
	right: 92px; 
	font-size: 48px; 
	font-family: arial; 
	font-weight: bold;
	color: #fc3;	
}
#date p { position: absolute; top: 0; }
#day { right: 340px; }
#hour { right: 236px; }
#min { right: 102px; }
#sec { right: 0; }